In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df_de = pd.read_csv('D:\\OneDrive\\Vassar\\DataFest\\data\\DE\\de.csv', parse_dates=['DATE'])

In [3]:
def get_use_cat(df):
    # make new df so old dataset is not affected
    new_df = df.copy()
    # get list of drug names
    drugs = [x for x in df_de.columns if 'NMU' in x][:14]
    drugs = [x.split('_')[0] for x in drugs]
    # make categorical variable for each drug
    for drug in drugs:
        new_df[f'{drug}_USE_CAT'] = new_df[f'{drug}_USE'] + new_df[f'{drug}_NMU']
    # in the returned df, each drug now has a column indicating how the correspondent uses the drug
    # nan -> never used
    # 1   -> used for perscription purposes
    # 2   -> used for recreational purposes
    return new_df

In [4]:
df_use = get_use_cat(df_de)

In [10]:
df_use.head()

,DATE,STATUS,QLANG,DEM_GENDER,DEM_AGE,DEM_LOCATION,DEM_POSTAL,DEM_STDNT,DEM_VET,DEM_HEALTH,...,OXY_USE_CAT,TRAM_USE_CAT,TAP_USE_CAT,SUF_USE_CAT,COD_USE_CAT,DIHY_USE_CAT,HYDM_USE_CAT,STIM_USE_CAT,BENZ_USE_CAT,THC_USE_CAT
0,2018-01-12 08:08:01,3,2,1,21,1,786,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2018-01-14 08:08:30,3,2,1,24,1,797,1,0,1,...,2.0,1.0,1.0,1.0,2.0,1.0,NaN,1.0,NaN,NaN
2,2018-01-14 07:31:08,3,2,1,19,1,717,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-13 04:25:19,3,2,1,19,1,891,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-14 12:58:09,3,2,1,20,1,791,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN